@model IEnumerable<Casemi.Models.PessoaDependentes>

<h4>Dependentes</h4>
<hr />
<div class="row form-group">
    <div class="col-md-1"><strong>@Html.DisplayNameFor(m => m.CodigoAssociado)</strong></div>
    <div class="col-md-1"><strong>@Html.DisplayNameFor(m => m.CodigoAssociadoAntigo)</strong></div>
    <div class="col-md-4"><strong>@Html.DisplayNameFor(m => m.Nome)</strong></div>
    <div class="col-md-1"><strong>@Html.DisplayNameFor(m => m.DataDeNascimento)</strong></div>
    <div class="col-md-1"><strong>@Html.DisplayNameFor(m => m.DependenteTipoID)</strong></div>
    <div class="col-md-1"><strong>@Html.DisplayNameFor(m => m.AssociadoDesde)</strong></div>
    <div class="col-md-1 text-right"><strong>@Html.DisplayNameFor(m => m.Ativo)</strong></div>
    <div class="col-md-2 text-right">
        <a href="@Url.Action("PessoaDependentesCreatePartial", "Pessoas", new { pessoaID = ViewBag.PessoaID })" data-modal="" data-id="replacetargetPessoaDependentes" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Adicionar">
            <span class='glyphicon glyphicon-plus'></span>
        </a>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row form-group">
        <div class="col-md-1"><small>@Html.DisplayFor(modelItem => item.CodigoAssociado)</small></div>
        <div class="col-md-1"><small>@Html.DisplayFor(modelItem => item.CodigoAssociadoAntigo)</small></div>
        <div class="col-md-4"><small>@Html.DisplayFor(modelItem => item.Nome)</small></div>
        <div class="col-md-1"><small>@Html.DisplayFor(modelItem => item.DataDeNascimento)</small></div>
        <div class="col-md-1"><small>@Html.DisplayFor(modelItem => item.DependenteTipos.Nome)</small></div>
        <div class="col-md-1"><small>@Html.DisplayFor(modelItem => item.AssociadoDesde)</small></div>
        <div class="col-md-1 text-right"><small>@Html.DisplayFor(modelItem => item.Ativo)</small></div>
        <div class="col-md-2 text-right">
            @*usando data-id para passagem do nome do painel a atualizar*@
            <a href="@Url.Action("PessoaDependentesEditPartial", "Pessoas", new { id = item.PessoaDependenteID })" data-modal="" data-id="replacetargetPessoaDependentes" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Alterar">
                <span class='glyphicon glyphicon-pencil'></span>
            </a>

            @*usando data-id para passagem do nome do painel a atualizar*@
            <a href="@Url.Action("PessoaDependentesDeletePartial", "Pessoas", new { id = item.PessoaDependenteID })" data-modal="" data-id="replacetargetPessoaDependentes" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                <span class='glyphicon glyphicon-trash'></span>
            </a>
        </div>
    </div>
}

<div class="row form-group">
    <div class="col-md-12 text-left"><strong>Dependentes:</strong> @Model.Count().ToString()</div>
</div>
<hr />

@Scripts.Render("~/bundles/modalform")