@model IEnumerable<Casemi.Models.Pessoas>

@{
    ViewBag.Title = "Pessoas[Lista]";
}


<div class="row">
    <div class="col-md-6">
        <h2>Pessoas<br /><small>Listagem de Pessoas</small></h2>
    </div>
    <div class="col-md-6">
        <br />
        @using (Html.BeginForm("Index", "Pessoas", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="form-control pull-right" placeholder="Pesquisar..." name="searchString" data-toggle="tooltip" data-placement="top" title="Este campo pesquisa em: Nome, Matrícula, CPF, CNPJ">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="top" title="Pesquisar"></i></button>
                </span>
            </div>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("Create","Pessoas",null)" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Adicionar
        </a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.PessoaAssociado.Matricula)</strong></div>
    <div class="col-md-4"><strong>@Html.DisplayNameFor(model => model.Nome)</strong></div>    
    <div class="col-md-4"><strong>@Html.DisplayNameFor(model => model.Email)</strong></div>
    <div class="col-md-2 text-right"></div>
</div>
<hr />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.PessoaAssociado.Matricula)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Nome)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Email)
        </div>
        <div class="col-md-2 text-right">
            <a href="@Url.Action("Edit", "Pessoas", new { id = item.PessoaID })" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            @*<a href="@Url.Action("Details", "Pessoas", new { id = item.PessoaID })" class="btn btn-info">
                <i class="glyphicon glyphicon-search"></i>
            </a>*@
            <a href="@Url.Action("Delete", "Pessoas", new { id = item.PessoaID })" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
    <hr />
}

