@model OrdemServicoWeb.Models.OrdemServicoProdutos

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Excluir Produto</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtos.CodigoBarras)-@Html.DisplayFor(model => model.Produtos.Nome)-@Html.DisplayFor(model => model.Produtos.Marca)-@Html.DisplayFor(model => model.Produtos.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn" type="button" data-dismiss="modal">Cancelar</button>
            <input class="btn btn-danger" type="submit" value="Excluir" />
        </div>
    }
</div>

