@model OrdemServicoWeb.Models.OrdensServico

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<div>
    <h4>Ordem de Serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoas.Nome)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Observação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            Abertura Data/Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AberturaDataHora)
        </dd>

        <dt>
            Fechamento Data/Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechamentoDataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KM)
        </dd>

        <dt>
          
        </dt>

        <dd>
           
        </dd>
    </dl>

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-10 col-md-2">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Excluir" class="btn btn-danger" />
        </div>
    </div>
  }
</div>
