@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<Casemi.Models.Servicos>

@{
    ViewBag.Title = "Serviços[Lista]";
}


<div class="row">
    <div class="col-md-8">
        <h2>Serviços<br /><small>Listagem de Serviços</small></h2>
    </div>
    <div class="col-md-4">
        <br />
        @using (Html.BeginForm("Index", "Servicos", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="form-control pull-right" placeholder="Pesquisar..." name="searchString" data-toggle="tooltip" data-placement="top" title="Este campo pesquisa em: Nome" value="@ViewBag.CurrentFilter">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="top" title="Pesquisar"></i></button>
                </span>
            </div>
        }
    </div>
</div>
<br />
<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-6 text-left ">
            <br />
            <a href="@Url.Action("Create","Pessoas",null)" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Adicionar
            </a>
        </div>
        <div class="col-md-6 text-right">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, currentFilter = ViewBag.CurrentFilter }))
        </div>

    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-8"><strong>@Html.DisplayNameFor(model => model.Nome)</strong></div>
    <div class="col-md-2 text-right"><strong>@Html.DisplayNameFor(model => model.DescontoParaAssociados)</strong></div>
    <div class="col-md-2 text-right"></div>
</div>
<hr />
@foreach (var item in Model)
{    
    <div class="row">
        <div class="col-md-8">
            @Html.DisplayFor(modelItem => item.Nome)
        </div>
        <div class="col-md-2 text-right">
            @string.Format("{0:f} %", item.DescontoParaAssociados)
        </div>
        <div class="col-md-2 text-right">
            <a href="@Url.Action("Edit", "Servicos", new { id = item.ServicoID })" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="@Url.Action("Delete", "Servicos", new { id = item.ServicoID })" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
    <hr />
}

<div class="row">
    <div class="col-md-12 text-right">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>